table, th, td{
    border:1px solid white;
}


.cabecalho-moda{
    background-color: #bb86fc ;
    color: #ffff;
}
.cabecalho-casa{
    background-color: #00C4B4;
    color: #ffff;
}

.valores-tabela{
    background-color: #424250;
    color: #ffff;
}